@using WppAI.Models;
@{
    ViewBag.Title = "EmployeeSearch";
    EmployeeDetailsEntities1 db = new EmployeeDetailsEntities1();
}

<h2>EmployeeSearch</h2>
<form action="/WI/EmployeeSearch" method="get">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
                
                <select type="text" name="BranchId" id="BranchId">
                    <option value="0">Select a BranchId..!!</option>
                    @foreach (var item in db.Branches)
                    {
                        <option value="@item.BranchId">@item.BranchName</option>
                    }

                </select>

            </div>
            <div class="row">

                <select type="text" name="GenderId" id="GenderId">
                    <option value="0">Select a GenderId..!!</option>
                    @foreach (var item in db.GenderInfoes)
                    {
                        <option value="@item.GenderId">@item.GenderName</option>
                    }

                </select>

            </div>
            <div class="row">

                <select type="text" name="DesignationId" id="DesignationId">
                    <option value="0">Select a DesignationId..!!</option>
                    @foreach (var item in db.Designations)
                    {
                        <option value="@item.DesignationId">@item.DesignationName</option>
                    }

                </select>



            </div>
            <center> <input type="button" id="Search" name="Search" value="Search" class="btn btn-success" /></center><br />
        </div>
        <table class="table table-bordered table-striped" name="Employee" id="EmployeeTable">
           
        </table>
    </div>
</form>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#Search').click(function () {
            $('#EmployeeTable').empty();
            if ($('#BranchId').val() == 0) {
                alert('Branch selection is required');
                return false();
            }
            if ($('#GenderId').val() == 0) {
                alert('Gender selection is required');
                return false();
            }
            if ($('#DesignationId').val() == 0) {
                alert('Designation selection is required');
                return false();
            }
            var row2 = '<tr><th>serial</th><th>Name</th><th>Age</th><th>Salary</th></tr>';
            $('#EmployeeTable').append(row2);
            $.get("/WI/GetEmployeeAPI", { BId: $('#BranchId').val(), GId: $('#GenderId').val(), DId: $('#DesignationId').val() }, function (data) {
                var sl = 1;                $.each(data, function (index, row) {                     //alert(row[index][1]);                    var row1 = '<tr>' + '<th scope="row">' + sl + '</th><td>' + row.EMPName + '</td>' + '<td>' + row.Age + '</td>' + '<td>' + row.Salary + '</td>' + '</tr>';                    $('#EmployeeTable').append(row1);                    sl++;                    //return false;                });



            });
        });
    });
</script>

